[cloudstack-4.11]
name=cloudstack
baseurl=http://repo1.int.toolsams1.cloudsys.tmcs/Cloudstack/4.11/latest/
enabled=0
gpgcheck=0

[cloudstack-utils]
name=cloudstack
baseurl=http://repo1.int.toolsams1.cloudsys.tmcs/CentOS/ticketmaster/latest/
enabled=0
gpgcheck=0
